@media (max-width: 575px) {
    .card {
        width: 24rem;
        margin: auto;
    }
    body {
        margin-top: 11rem; 
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card {
        width: 30rem;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .card {
        width: 35rem;
        margin: auto;
    }
}

.card-body label {
    display: block;
    margin-bottom: 8px;
}

.margin_top {
    margin-top: 10%;
}