{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/card-style.css">
{% endblock head %}

{% block body %}
    <form action="" method="post">
        <div class="card mx-auto rounded margin_top">
            <div class="card-body">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="ورود" class="btn btn-primary form-control"><br>
                <br><a href="{% url "register_page" %}" class='btn btn-primary form-control'>ساخت حساب کاربری</a>
            </div>
        </div>
    </form>
{% endblock body %}