{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/card-style.css">
{% endblock head %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <div class='card mx-auto rounded' style='margin-top:5%'>
            <div class='card-body'>
                {% for field in form %}

                    {% if field.label == 'تاریخ' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                        {{field}}<br>
                    {% endif %}

                    {% if field.label == 'پایه' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                        {{field}}<br>
                    {% endif %}                    
                    
                    {% if day == 'Saturday' %}
                        {% if field.label == 'زیست' or field.label == 'مطالعات اجتماعی' or field.label == 'مکالمه' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Sunday' %}
                        {% if field.label == 'فارسی' or field.label == 'ریاضی' or field.label == 'فیزیک' or field.label == 'زبان' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                            {% endif %}
                    {% endif %}

                    {% if day == 'Monday' %}
                        {% if field.label == 'هنر' or field.label == 'عربی' or field.label == 'ریاضی' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Tuesday' %}
                        {% if field.label == 'نگارش' or field.label == 'قران' or field.label == 'مطالعات اجتماعی' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Wednesday' %}
                        {% if field.label == 'دینی' or field.label == 'آمادگی دفاعی' or field.label == 'ریاضی' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Thursday' or day == 'Friday' %}
                        {% if field.label == 'زیست' or field.label == 'مطالعات اجتماعی' or field.label == 'مکالمه' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if field.label == 'توضیحات اضافه' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                        {{ field }}<br>
                    {% endif %}
                {% endfor %}
            </div>
            <input type="submit" value="ثبت" class="btn btn-primary form-control"><br>
        </div>
    </form>
{% endblock body %}
