{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/write_homework_style.css">
    <link rel="stylesheet" href="/static/css/persian-datepicker.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/persian-datepicker.js"></script>
    <script src="/static/js/persian-date.js"></script>
{% endblock head %}

{% block body %}
    <form action="" method="post" id='myform'>
        {% csrf_token %}
        <div class='card mx-auto rounded margin_top'>
            <div class='card-body'>
                {% for field in form %}

                    {% if field.label == 'Date' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                        <input class="datepicker" name="date" value="{{ field.value }}"/>
                    {% endif %}
                    
                    {% if day == 'Saturday' %}
                        {% if field.label == 'Biology' or field.label == 'Social studies' or field.label == 'Conversation' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Sunday' %}
                        {% if field.label == 'Literature' or field.label == 'Math' or field.label == 'Physics' or field.label == 'English' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                            {% endif %}
                    {% endif %}

                    {% if day == 'Monday' %}
                        {% if field.label == 'Art' or field.label == 'Arabic' or field.label == 'Math' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Tuesday' %}
                        {% if field.label == 'Writeing' or field.label == 'Quran' or field.label == 'Social studies' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}

                    {% if day == 'Wednesday' %}
                        {% if field.label == 'Religious' or field.label == 'Defense readiness' or field.label == 'Math' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
                            {{ field }}<br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <input type="submit" value="submit" class="btn btn-primary mx-auto d-block button_size" onclick='submitForm()'><br>
        </div>
    </form>

    <script>
        function submitForm() {
            var form = document.getElementById('myform');
            var datepickerInput = document.querySelector('.datepicker');
        
            // گرفتن مقدار input تاریخ
            var selectedDate = datepickerInput.value;
        
            // تنظیم مقدار در فیلد Date فرم
            form.elements['date'].value = selectedDate;
        
            // ارسال فرم
            form.submit();
        }
        
        $('.datepicker').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: 'none',
            autoClose:true,
            initialValueType: 'persian'
        });
    </script>
{% endblock body %}
